* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Inter, sans-serif;
}

nav {
	display: flex;
	align-items: center;
	background-color: #21222a;
	height: 90px;
	padding: 30px 25px;
}

.nav--logo_text,
.nav--title {
	margin: 0;
}

.nav--logo_text {
	margin-right: auto;
	color: #61dafb;
	font-weight: 700;
	font-size: 22px;
}

.nav--title {
	color: #deebf8;
	font-weight: 600;
}

.nav--icon {
	height: 30px;
	margin-right: 7px;
}

main {
	min-height: 100vh;
	padding: 57px 27px;
	background-color: #282d35;
	background-image: url(./images/react-icon-large.png);
	background-repeat: no-repeat;
	background-position: right 75%;
}

/* 
Challenge: Place the gray react logo in the background

Don't use an `img` element, but rather set it as the
`background-image` of the `main` element.

Hint: you'll need to use the following properties:
- background-image
- background-repeat
- background-position

(Or the shorthand `background` property with values for all
those other properties)
*/

.title {
	margin: 0;
	padding: 25px;
	font-weight: 700;
	font-size: 39px;
	letter-spacing: -0.05em;
	color: #ffffff;
	text-align: center;
}

.facts {
	display: grid;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 400;
}

.facts > li {
	line-height: 19px;
	padding-block: 10px;
}

.facts > li::marker {
	font-size: 1.4rem;
	color: #61dafb;
}
